@import '~bootstrap/scss/bootstrap';

main{

    background-image: url(../images/How-Trains-Work---1600x900.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .tickets{
        color: rgb(156, 171, 187);
        background-color: rgba(255, 255, 255, 0.450);
        height: 100%;

        .container{
            overflow: hidden scroll;
            height: 600px;

            .card{
                height: 240px;
        
                span{
                    font-weight: bold;
                }
            }
        }
    
    }
}
